*.pyc
.DS_Store
raw_data/
instantiated_configs/
processed_data/
# official_evaluation/
official_evaluation_/
case_study/
cache/
.history
.temp
__pycache__/
elasticsearch-7.10.2/
elasticsearch-7.10.2-linux-x86_64.tar.gz
elasticsearch-7.10.2-linux-x86_64.tar.gz.sha512
/kbqa_classifier_onehop/outputs
/kbqa_classifier_mutihop/outputs
/new_onehop/outputs
/predictions
